* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

nav {
    max-width: 100vw;
    margin-bottom: 5vh;
}

h1 {
    text-align: center;
    margin: 5vh auto;
}

.close {
    cursor: pointer;
}

.modal-header .close {
    padding: 0;
    margin: 0;
}

.book {
    width: 30%;
    margin-top: 10px;
}

.btn-add-book {
    margin: 4vh auto;
    display: block;
}

.filter-container {
    display: none;
}

.insertContainer {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: center;
}

.insertContainer input {
    margin: 5px;
}

.modalBookDetails {
    background-color: antiquewhite;
    position: fixed;
    top: 50px;
    padding: 10px;
}

.container.rating-display {
    margin: 2vh auto;
}

#book-rating {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 1vw;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-price {
    flex-direction: row;
}

.modal-content {
    text-align: center;
}

.pagination-controller {
    display: flex;
    justify-content: center;
}

.nav-container {
    display: flex;
}