body {
  background-color: black;
  color: white;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}

.formLine {
  margin: 10px;
  padding: 10px;
  background-color: cornflowerblue;
}

.modal {
  background-color: lightseagreen;
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  width: 300px;
}

.modal button {
  float: right;
}